*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
nav{
    text-align: right;
    padding: 0px 50px;
    margin:0;
    box-sizing: border-box;
}
nav>a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    color: yellow;
}
nav>a:hover{
    text-decoration: underline;
}
h1,h4,.div-xyz{
    text-align: center ;
    margin:0;
    color:rgb(0, 0, 0);
    padding: 0;;
}
.div-coyo
{
 text-align:right ;
}
#ware{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 200px;
    overflow: hidden;
}
.duke
{
    text-align: center;
    margin: 10px;
}
#mario{
    text-align: initial;
    margin:5px;
}
header{
    width: 100%;
    height: 316px;

    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(100deg 11% 38% / 68%), hsl(313deg 19% 26% / 76%)),url(../images/hormiga.png);
    background: linear-gradient(to right, hsl(100deg 11% 38% / 0%), hsl(313deg 19% 26% / 0%)),url(../images/hormiga.png);


    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.foto {
    width: 45%;
    border-radius: 0;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 0);
}
#puka {
    font-size: 30px;
    color: #45415e;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
footer {
    background: #364e7a;
    padding: 60px 0 30px 0;
}
.container-footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px;
}

.about-us .laymee {
    width: 45%;
}

.laymee p {
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.model {
    width: 40%;
    text-align: center;
    margin-left: 20px;
}
.model img {
    width: 90%;
    height: 200px;
}
.unoo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.va {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
main {
    display: block;
}
.coyoo {
    font-size: 30px;
    color: #45415e;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.container-about-us {
    display: flex;
    justify-content: space-evenly;
}